blabel==0.1.6
Brotli==1.0.9
cffi==1.15.1
cssselect2==0.7.0
fonttools==4.38.0
html5lib==1.1
Jinja2==3.1.2
MarkupSafe==2.1.2
Pillow==9.4.0
pycparser==2.21
pydyf==0.5.0
pyphen==0.13.2
pypng==0.20220715.0
pyStrich==0.8
python-barcode==0.14.0
qrcode==7.4.2
six==1.16.0
tinycss2==1.2.1
typing_extensions==4.5.0
weasyprint==58.0
webencodings==0.5.1
zopfli==0.2.2
